img[alt='Aguacate'], img[alt='Brocoli']{
  width: 68.5%;
  left: 30px;
}

img[alt='Naranja'], img[alt='Repollo'], img[alt='Tomate']{
  width: 85%;
  left: 15px;
}

.card{
  height: 330px;
}

.contenidoSpan{
  color: gray;
}

.card-title{
  font-style: italic;
}
