<div class="row mainContainer">
  <div class="col s5 loginContainer center-align">
    <div class="loginTitle">Inicio de Sesión</div>
    <div class="fields-Container">
      <input type="text" #user placeholder="Usuario..." />
      <input type="password" #pass placeholder="Contraseña..." />
      <!--button id="login" class="loginButton" (click) = "onLogin()">Ingresar</button-->
      <a (click)="onLogin(user.value, pass.value)" class="button loginButton">Ingresar</a>
    </div>
  </div>  
</div>
