*, *:after, *:before {
  top: 0;
  left: 0;
}

.mainContainer{
  background: url('../../assets/login-fondo.jpg');
  width: 100%;
  height: 100%;
}

.loginContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 28% !important;
  font-family: 'oswald';
}

.loginTitle {
  color: #ffffff;
  font-size: 35px;
}

.fields-Container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'oswald';
}

form{
  width: 100%;
}

input {
  width: 350px;
  height: 25px;
  padding: 5px;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 15px;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: 'oswald';
  background: rgba(0, 0, 0, 0.8);
}

.loginButton {
  margin-top: 25px;
  width: 358px;
  height: 32px;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  color: #FFFFFF;
  background: #1270b6;
  font-family: 'oswald';
}

.alertMessage{
  display: flex;
  flex-direction: column;
  color: red;
  background-color: #ffcdd2;
  font-size: 18px;
}
