.mainContainer{
  color: black;
}

.contenidoProd span{
  font-size: 17px;
}

.card-image img{
  width: 80%;
}

.card.horizontal .card-image{
  max-width: 40%;
}

.contSpan{
  color: gray;
}

.btnGroup a{
  margin-left: 5px;
  margin-bottom: 5px;
}

a:hover{
  cursor: pointer;
}
